DTD/tickets.xml

<?xml version="1.0" ?>
<!DOCTYPE Ticket_List[
<!ELEMENT Ticket_List (ticket+)>
<!ELEMENT ticket (event, category, seat, price, time, location, eventPartner)><!ATTLIST ticket code CDATA #REQUIRED>
<!ELEMENT event (#PCDATA)>
<!ELEMENT category (#PCDATA)>
<!ELEMENT seat (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT time (date, dayOfTheWeek, startTime)>
<!ELEMENT date (dd,mm,yyyy)>
<!ELEMENT dd (#PCDATA)>
<!ELEMENT mm (#PCDATA)>
<!ELEMENT yyyy (#PCDATA)>
<!ELEMENT dayOfTheWeek (#PCDATA)>
<!ELEMENT startTime (#PCDATA)>
<!ELEMENT location (#PCDATA)>
<!ELEMENT eventPartner (#PCDATA)> ]>

<!ATTLIST seat type CDATA #IMPLIED> <!--PitchSeating, SnakePit, CusackStand-Lower/UpperTier, HoganStand-Lower/UpperTier, DavidStand-Lower/UpperTier, PitchStanding--> 

<Ticket_List>
	<ticket code="MUK180004">
		<event>Taylor Swift Concert</event>
		<category>Music</category>
		<seat type="Pitch Seating">44</seat>
		<price>€144.00</price>
		<time>
			<date>
				<dd>15</dd>
				<mm>June</mm>
				<yyyy>2018</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>18:00</startTime>
		</time>
		<location>Croke Park, James Avenue, Dublin 3, Ireland</location>
		<eventPartner>Big Machine Records</eventPartner>
	</ticket>

	<ticket code="MUK181056">
		<event>Taylor Swift Concert</event>
		<category>Music</category>
		<seat type="Snake Pit">56</seat>
		<price>€144.00</price>
		<time>
			<date>
				<dd>15</dd>
				<mm>June</mm>
				<yyyy>2018</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>18:00</startTime>
		</time>
		<location>Croke Park, James Avenue, Dublin 3, Ireland</location>
		<eventPartner>Big Machine Records</eventPartner>
	</ticket>

	<ticket code="MUK185124">
		<event>Taylor Swift Concert</event>
		<category>Music</category>
		<seat type="Cusack Stand Premium">124</seat>
		<price>€104.00</price>
		<time>
			<date>
				<dd>15</dd>
				<mm>June</mm>
				<yyyy>2018</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>18:00</startTime>
		</time>
		<location>Croke Park, James Avenue, Dublin 3, Ireland</location>
		<eventPartner>Big Machine Records</eventPartner>
	</ticket>
		
	<ticket code="MUK180067">
		<event>Taylor Swift Concert</event>
		<category>Music</category>
		<seat type="Pitch Seating">67</seat>
		<price>€144.00</price>
		<time>
			<date>
				<dd>15</dd>
				<mm>June</mm>
				<yyyy>2018</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>18:00</startTime>
		</time>
		<location>Croke Park, James Avenue, Dublin 3, Ireland</location>
		<eventPartner>Big Machine Records</eventPartner>
	</ticket>
	
	<ticket code="ADB180004">
		<event>Kevin Hart Talk Show</event>
		<category>Arts, Theatre and Comedy</category>
		<seat type="Flat Seating">24</seat>
		<price>€41.00</price>
		<time>
			<date>
				<dd>02</dd>
				<mm>November</mm>
				<yyyy>2018</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>20:00</startTime>
		</time>
		<location>3Arena, N Wall Quay, North Dock, Dublin 1, Ireland</location>
		<eventPartner>Hart Beat Productions</eventPartner>
	</ticket>
	
	<ticket code="ADB173074">
		<event>Kevin Hart Talk Show</event>
		<category>Arts, Theatre and Comedy</category>
		<seat type="Cusack Stand Lower">74</seat>
		<price>€114.00</price>
		<time>
			<date>
				<dd>14</dd>
				<mm>November</mm>
				<yyyy>2017</yyyy>
			</date>
			<dayOfTheWeek>Thursday</dayOfTheWeek>
			<startTime>19:00</startTime>
		</time>
		<location>Croke Park, James Avenue, Dublin 3, Ireland</location>
		<eventPartner>Hart Beat Productions</eventPartner>
	</ticket>
	
	<ticket code="SBF172054">
		<event>European Rugby Champions Cup - Ulster Rugby vs Harlequins</event>
		<category>Sports</category>
		<seat type="Grand Stand">54</seat>
		<price>€43.00</price>
		<time>
			<date>
				<dd>15</dd>
				<mm>December</mm>
				<yyyy>2017</yyyy>
			</date>
			<dayOfTheWeek>Friday</dayOfTheWeek>
			<startTime>19:45</startTime>
		</time>
		<location>Kingspan Stadium, Belfast, Northern Ireland, UK</location>
		<eventPartner>Rugby Union</eventPartner>
	</ticket>

</Ticket_List>
